%h1 #{@deck.name} Deck

- cards = @deck.cards.map{ |card| card.card_type }
- creatures = cards.select{ |card| card.is_creature? }
- spells = cards.select{ |card| card.is_spell? } - creatures
- lands = cards.select{ |card| card.is_land? } - creatures - spells
- others = cards - creatures - spells - lands

- if creatures.any?
  %h2 Creatures (#{creatures.count})

  %ul
    - creatures.each do |c|
      %li= link_to c.name, card_path(c.metaverse_id)

- if spells.any?
  %h2 Spells (#{spells.count})

  %ul
    - spells.each do |c|
      %li= link_to c.name, card_path(c.metaverse_id)

- if lands.any?
  %h2 Lands (#{lands.count})

  %ul
    - lands.each do |c|
      %li= link_to c.name, card_path(c.metaverse_id)

- if others.any?
  %h2 Other (#{others.count})

  %ul
    - others.each do |c|
      %li= link_to c.name, card_path(c.metaverse_id)
