%h1 #{@card.name}

%a{ href: "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.metaverse_id}" }
  %div{ class: "card-preview card-parent card metaverse-#{@card.metaverse_id}" }

%dl
  %dt Metaverse ID
  %dd= link_to(@card.metaverse_id, "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.metaverse_id}")

  %dt Converted mana cost
  %dd= @card.cost_string

  - if @card.is_creature?
    %dt Base power/toughness
    %dd #{@card.power} / #{@card.toughness}

  %dt Base tags
  %dd
    - if @card.tags.empty?
      %i (none)
    - else
      =@card.tags.join(", ")

  %dt Actions
  %dd
    %ul
      - @card.actions.each do |a|
        %li
          %strong= a

          - if @card.playing_goes_onto_stack?(a)
            %i (resolves on the stack)

          %dl
            %dt Cost
            %dd= @card.action_cost(a)

            %dt Conditions
            %dd= @card.conditions_for(a).describe

            %dt Actions
            %dd= @card.actions_for(a).describe

      - if @card.can_attack?
        %li
          %strong attack
          %dl
            %dt Conditions
            %dd= @card.conditions_for("attack").describe

      - if @card.can_defend?
        %li
          %strong defend
          %dl
            %dt Conditions
            %dd= @card.conditions_for("defend").describe

