%h1 #{@card.name}

%a{ href: "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.metaverse_id}" }
  %div{ class: "card-preview card-parent card metaverse-#{@card.metaverse_id}" }

%dl
  %dt Metaverse ID
  %dd= link_to(@card.metaverse_id, "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.metaverse_id}")

  %dt Is creature?
  %dd= @card.is_creature?.to_s

  %dt Is land?
  %dd= @card.is_land?.to_s

  %dt Is spell?
  %dd= @card.is_spell?.to_s

  %dt Converted mana cost
  %dd= @card.cost_string

  %dt Actions
  %dd
    %ul
      - @card.actions.each do |a|
        %li
          %strong= a

          - if @card.playing_goes_onto_stack?(a)
            %i (resolves on the stack)

          %dl
            %dt Cost
            %dd= @card.action_cost(a)

            %dt Conditions
            %dd= @card.conditions_for(a).describe

            %dt Actions
            %dd= @card.actions_for(a).describe
