%h1 Duel

%h4 Current player #{@duel.current_player}, phase #{@duel.phase}

- [ @player1, @player2 ].each do |player|
  %h2 Player #{player.name} ( #{player.life} life )

  %h3 Deck ( #{player.deck.count} cards ), graveyard ( #{player.graveyard.count} cards )

  %h3 Hand ( #{player.hand.count} cards )

  %ul
    - player.hand.each do |hand|
      %li= hand.entity.to_text

  %h3 Battlefield ( #{player.battlefield.count} cards )

  %ul
    - player.battlefield.each do |battlefield|
      %li= battlefield.entity.to_text

%h2 Action Log

%ul
  - @duel.actions.each do |action|
    %li
      = action.player.name
      used action
      = action.entity_action
      of
      = action.entity.to_text
      on
      = action.targets.map { |target| target.entity.to_text }.join(", ")
