%h1 Duel

= link_to "Start new duel", new_duel_path

= form_tag(pass_duel_url(@duel)) do |f|
  = submit_tag "Pass"

/ possible actions
- available_actions[:play].each do |hand|
  = form_tag(play_duel_url(@duel)) do |f|
    = hidden_field_tag "hand", hand.id
    = submit_tag "Play #{hand.entity.to_text}"

- available_actions[:tap].each do |battlefield|
  = form_tag(tap_duel_url(@duel)) do |f|
    = hidden_field_tag "battlefield", battlefield.id
    = submit_tag "Tap #{battlefield.entity.to_text}"

%h4 Turn #{@duel.turn}: Current player #{@duel.current_player}, phase #{@duel.phase} (#{@duel.phase_text}), priority player #{@duel.priority_player}

- [ @duel.player1, @duel.player2 ].each do |player|
  %h2
    Player #{player.name}
    ( #{player.life} life )
    %small= player.mana

  %h3 Deck ( #{player.deck.count} cards ), graveyard ( #{player.graveyard.count} cards )

  %h3 Hand ( #{player.hand.count} cards )

  %ul
    - player.hand.each do |hand|
      %li= hand.entity.to_text

  %h3 Battlefield ( #{player.battlefield.count} cards )

  %ul
    - player.battlefield.each do |battlefield|
      %li
        = battlefield.entity.to_text
        - if battlefield.entity.is_tapped?
          %i (tapped)

%h2 Action Log

%ul
  - @duel.last_actions.limit(10).each do |action|
    %li
      [#{@duel.id}.#{action.id}]
      - if action.player
        = action.player.name
      = action.action_text
      - if action.targets.any?
        on
        = action.targets.map { |target| target.effect_string }.join(", ")
