!!!
%html
  %head
    %title Rmagic
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '/css/default', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '/card-styles', media: 'all', 'data-turbolinks-track' => true
    :javascript
      window.websocketLocation = "#{ENV["WEBSOCKET_LOCATION"]}";
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '/js/compiled', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav
      = link_to "Rmagic", root_path
      = link_to "Cards", cards_path
      = link_to "Premade decks", premade_decks_path
      - if current_user
        Logged in as
        = link_to current_user.name, user_path(current_user)
        = link_to "Your games", user_path(current_user)
        = link_to "Log out", logout_path
      - else
        = link_to "Log in", login_path

      %span.ajax-pending loading...

    - if flash.alert
      .flash.alert=flash.alert

    - if flash.notice
      .flash.notice=flash.notice

    = yield
