!!!
%html
  %head
    %title Rmagic
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav
      - if current_user
        = link_to "Sign out", signout_path
        = current_user.name
        = current_user.inspect
      - else
        = link_to "Sign in with Google", "/auth/google_login"

    = yield
